.tabla-precios, h2 {
  display: flex;
  justify-content: center;
}

.tabla-precios .tabla tr td, .tabla-precios .tabla tr th {
  text-align: center;
  padding: 10px;
}

html {
  scroll-behavior: smooth;
}

.body {
  background-color: white;
  font-family: "Quicksand", sans-serif;
}

.header-container .banner {
  background-image: url("../images/00banner.jpg");
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;
}

.logo {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 600px;
  opacity: 0.5;
  animation-name: slidein;
  animation-duration: 3s;
}

.imagen-menu {
  width: 45px;
  height: 45px;
}

li a {
  color: black;
  text-decoration: none;
}
li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all 0.8s;
}
li a:hover:after {
  width: 100%;
  background: #333;
}

.descripcion-general {
  margin: 6vw;
}
.descripcion-general .nombre {
  margin: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: x-large;
}
.descripcion-general .introduccion {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.producto {
  max-width: 400px;
}
.producto:hover {
  transform: scale(1.1);
}

.subseccion-productos {
  padding: 10px 0 5px 0;
  margin-top: 30px !important;
  text-align: center;
}

.imagenes-presentaciones img {
  margin: 30px;
  max-width: 90%;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

h2 {
  padding: 10px;
  color: teal;
}

.precios .promo {
  padding: 20px;
}
.precios .promo img {
  width: 100%;
}

.tabla-precios .tabla {
  border-collapse: collapse;
  border-radius: 5px 5px 0;
  overflow: hidden;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tabla-precios .tabla tr {
  border-bottom: 1px solid #dddddd;
}
.tabla-precios .tabla tr:nth-child(even) {
  background-color: #fde6e4;
}
.tabla-precios .tabla tr:last-of-type {
  border-bottom: 2px solid salmon;
}
.tabla-precios .tabla tr th {
  background-color: coral;
}
.formulario {
  max-width: 700px !important;
  background-color: #fde6e4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0 0;
}

/*.formulario {
    @extend %justify-center;
    form {
        max-width: 370px;
        padding: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background-color: $background-color-formulario;
        input{
            @extend %estilos-partes-formulario;
        }
        select {
            @extend %estilos-partes-formulario;
        }
        option{
            @extend %estilos-partes-formulario;
        }
        button{
            @extend %estilos-partes-formulario;
        }
        textarea {
            @extend %estilos-partes-formulario;
        }
        .cantidad{
            display: flex;
            justify-content: space-around;
        }
        .variedad-formulario{
            padding:
            10px 5px 10px 10px;
        }
        .checkbox{
            position: relative;
            bottom: 3%;
        }
        .enviar-pedido {
            &:hover {
                background-color: $hover-pedido;
                border: 2px solid black;
            }
        }
    }
}*/
.imagen-contacto {
  width: 200px;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  background-color: #c4c4c4;
  padding: 10px;
}

/* Animacion Titulo */
@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
/* Inicio Medias Queries */
/* Mobile Style */
@media only screen and (max-width: 400px) {
  /*.header-container img{
     width: 100%;
     height: 50%;
  }*/
  /*.header-container {
      height: 50%
  }*/
  /*.header-container h1 {
      font-size: 14px;
  }*/
  /*.menu-container a{
      font-size: 10px;
  }*/
  .imagenes-presentaciones img {
    margin: 5px;
  }

  .descripcion-caja p {
    font-size: smaller;
  }

  .tabla-precios .tabla {
    min-width: 200px;
  }

  .envios {
    padding: 26px;
  }

  .footer-container {
    justify-content: center;
  }
}
/* Tablet Style */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .muestra-productos-container img {
    width: 33.3%;
  }

  .header-container img {
    height: 50%;
  }

  .header-container h1 {
    font-size: 25px;
    top: 5%;
  }
}
/* Desktop Style */
@media only screen and (min-width: 961px) {
  .precio-envios div {
    padding: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
