.tabla-precios, h2 {
  display: flex;
  justify-content: center;
}

.tabla-precios .tabla tr td, .tabla-precios .tabla tr th {
  text-align: center;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

.body {
  background-color: white;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden !important;
}

/* Aumento de segundo en animate on scroll del modal promo */
.body [data-aos-delay="5000"] [data-aos],
[data-aos][data-aos][data-aos-delay="5000"] {
  transition-delay: 5000ms;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/alfajor.gif") 50% 50% no-repeat #f9f9f9;
  background-size: cover;
}

.header-container .banner {
  background-image: url("../images/00banner.jpg");
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;
  margin-top: 70px;
}

.logo {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 600px;
  opacity: 0.5;
  animation-name: slidein;
  animation-duration: 3s;
}

.imagen-menu {
  width: 45px;
  height: 45px;
}

.descripcion-general {
  margin: 6vw;
}
.descripcion-general .nombre {
  margin: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: x-large;
}
.descripcion-general .introduccion {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.producto {
  max-width: 400px;
}

.imagen-card {
  height: auto;
}

.subseccion-productos {
  padding: 10px 0 5px 0;
  margin-top: 30px !important;
  text-align: center;
}

.imagenes-presentaciones img {
  margin: 30px;
  max-width: 90%;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

h2 {
  padding-top: 80px;
  padding-bottom: 20px;
  color: teal;
}

.precios .promo {
  padding: 20px;
}
.precios .promo img {
  width: 100%;
}

.tabla-precios .tabla {
  border-collapse: collapse;
  border-radius: 5px 5px 0;
  overflow: hidden;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tabla-precios .tabla tr {
  border-bottom: 1px solid #dddddd;
}
.tabla-precios .tabla tr:nth-child(even) {
  background-color: #fde6e4;
}
.tabla-precios .tabla tr:last-of-type {
  border-bottom: 2px solid salmon;
}
.tabla-precios .tabla tr th {
  background-color: coral;
}
.piquibola {
  width: 100%;
}

.pin {
  width: 20px;
}

.formulario {
  max-width: 700px !important;
  background-color: #fde6e4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0 0;
}
.formulario .lugares {
  padding-left: 62px;
}

.social {
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.social:hover {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  transform: translateY(-25px);
  filter: opacity(90%);
  margin: 0 10px;
}

.imagen-contacto {
  width: 200px;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  background-color: #c4c4c4;
  padding: 10px;
}

/* Animacion Titulo */
@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
/* Inicio Medias Queries */
/* Mobile Style */
@media only screen and (max-width: 400px) {
  .imagenes-presentaciones img {
    margin: 5px;
  }

  .descripcion-caja p {
    font-size: smaller;
  }

  .tabla-precios .tabla {
    min-width: 200px;
  }

  .footer-container {
    justify-content: center;
  }
}
/* Tablet Style */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .muestra-productos-container img {
    width: 33.3%;
  }

  .header-container img {
    height: 50%;
  }

  .header-container h1 {
    font-size: 25px;
    top: 5%;
  }
}
/* Desktop Style */
@media only screen and (min-width: 961px) {
  li a {
    color: black;
    text-decoration: none;
  }
  li a:after {
    content: "";
    display: block;
    margin: auto;
    height: 1.5px;
    width: 0px;
    transition: all 0.8s;
  }
  li a:hover:after {
    width: 100%;
    background: #333;
  }

  .producto:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .precio-envios div {
    padding: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
