@import 'webkit-mixin';

@mixin mobile {
    @media only screen and (max-width: 400px) {
        
        .imagenes-presentaciones {
            img {
                margin: 5px;
            }
        }

        .descripcion-caja {
            p{
                font-size: $font-size-mobile;
            }
        }
       
        .tabla-precios {
        .tabla {
            min-width: 200px;
        }
        }
        
    
        .footer-container {
            justify-content: center;
        }
    }
}

@mixin tablet {
    @media only screen and (min-width: 401px) and (max-width: 960px) {
        .muestra-productos-container img {
            width: 33.3%;
        }
    
        .header-container img {
            height: 50%;
        }
    
        .header-container h1{
            font-size: 25px;
            top: 5%;
        }
    }
}

@mixin desktop {
    @media only screen and (min-width:961px) {
        li{
            a {
                color: $color-a-menu;
                text-decoration: none;
        
                &:after {
                    content: "";
                    display: block;
                    margin: auto;
                    height: 1.5px;
                    width: 0px;
                    transition: all .8s;
                    }
                
                &:hover:after {
                    width: 100%;
                    background: #333;
                    }
            }
        } 
        .producto {        
            &:hover {
                @include transform ();
                @include transition ();
            }
        }    

        .precio-envios div{
            padding: 25px;
        }
    
    }
}