@import 'webkit-mixin';

@mixin mobile {
    @media only screen and (max-width: 400px) {
        
        .imagenes-presentaciones {
            img {
                margin: 5px;
            }
        }

        .descripcion-caja {
            p{
                font-size: smaller;
            }
        }
        .tabla-precios {
        .tabla {
            min-width: 200px;
        }
        }
        .envios {
            padding: 26px;
        }
    
        .footer-container {
            justify-content: center;
        }
    }
}

@mixin tablet {
    @media only screen and (min-width: 401px) and (max-width: 960px) {
        .muestra-productos-container img {
            width: 33.3%;
        }
    
        .header-container img {
            height: 50%;
        }
    
        .header-container h1{
            font-size: 25px;
            top: 5%;
        }
    }
}

@mixin desktop {
    @media only screen and (min-width:961px) {
        .producto {        
            &:hover {
                @include transform ();
                @include transition ();
            }
        }    

        .precio-envios div{
            padding: 25px;
        }
    
    }
}