@import 'colors';
@import 'animation-mixin';
@import 'fonts';
@import 'extends';
@import 'medias-queries-mixin';

html {
    scroll-behavior: smooth;
}
.body {
    background-color: $background-color-body;
    font-family: $body-font-family;
}

.header-container {
    .banner {
        background-image: url("../images/00banner.jpg");
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        width: 100%;
    }
    
}


.logo {
    position: absolute;
    top: -100px; left: 0; right:0; bottom:0;
    margin: auto;
    width: 100%;
    max-width: 600px; //Ver si ponerlo con media querie para cuand se da vuelta la imagen en cel
    opacity: 0.5;
    @include animation ();
}

.imagen-menu {
    width: 45px;
    height: 45px;
}
li{
    a {
        color: $color-a-menu;
        text-decoration: none;

        &:after {
            content: "";
            display: block;
            margin: auto;
            height: 2px;
            width: 0px;
            transition: all .8s;
            }
        
        &:hover:after {
            width: 100%;
            background: #333;
            }
    }
}
.descripcion-general {
    margin: 6vw;
    .nombre{
        margin: 10px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: $font-weight-h1;
        font-size: $font-size-h1;
    }
    .introduccion{
        position: relative;
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
    }
}
.producto {
    max-width: 400px;

    &:hover {
        transform: scale(1.1)
    }
}

.subseccion-productos{
    padding: 10px 0 5px 0 ;
    margin-top: 30px !important;
    text-align: center;
}


.imagenes-presentaciones {
    img {
        margin: 30px;
        max-width: 90%;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    }
}

h2 {
    padding: 10px;
    color: $color-h2;
    @extend %justify-center;
}
.precios {
    .promo {
        padding: 20px;
        img {
            width: 100%;
        }
    }
}
.tabla-precios {
    @extend %justify-center;
    .tabla{
        border-collapse: collapse;
        border-radius: 5px 5px 00;
        overflow: hidden;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        tr {
            border-bottom: 1px solid $tr-border-bottom;
            
            &:nth-child(even) {
                background-color: $background-color-tabla-child;
            }

            &:last-of-type {
                border-bottom: 2px solid $tr-border-bottom-last-of-type;
            }
            th{
                background-color: $background-color-th;
                @extend %estilos-tabla;
            }
            
            td{
                @extend %estilos-tabla;
            }
        }
    }
}

.formulario {
    max-width: 700px !important;
    background-color: $background-color-formulario;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;


}
/*.formulario {
    @extend %justify-center;
    form {
        max-width: 370px;
        padding: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background-color: $background-color-formulario;
        input{
            @extend %estilos-partes-formulario;
        }
        select {
            @extend %estilos-partes-formulario;
        }
        option{
            @extend %estilos-partes-formulario;
        }
        button{
            @extend %estilos-partes-formulario;
        }
        textarea {
            @extend %estilos-partes-formulario;
        }
        .cantidad{
            display: flex;
            justify-content: space-around;
        }
        .variedad-formulario{
            padding:
            10px 5px 10px 10px;
        }
        .checkbox{
            position: relative;
            bottom: 3%;
        }
        .enviar-pedido {
            &:hover {
                background-color: $hover-pedido;
                border: 2px solid black;
            }
        }
    }
}*/

// .datos-contactos {
//     @extend %justify-center;
//     img {
//          max-width: 200px;
//     }
// }
.imagen-contacto {
    width: 200px;
    padding: 20px;
    

}

.footer-container {
    display: flex;
    justify-content: flex-end;
    background-color: $background-color-menu;
    padding: 10px;
}

/* Animacion Titulo */

@include keyframes ();

/* Inicio Medias Queries */

/* Mobile Style */

@include mobile ();

/* Tablet Style */

@include tablet ();

/* Desktop Style */

@include desktop ();
